.about-me-text {
    margin: auto;
    max-width: 500px;
}

.responsive {
    padding: 5% 10%;
}

.gallery {
    text-align: center;
}

.desc {
    margin: 2% 0%;
}



@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
